---
const title = "Servicios"
const sentence = "Ofrecemos servicios de alta calidad en diseño de escenarios corporativos, stands para exposiciones, producción audiovisual, registro de eventos y desarrollo de software. Con nuestro enfoque todo en uno y nuestra experiencia en la industria, aseguramos hacer de tu próximo evento un éxito memorable."
---
    <section class="min-h-screen flex items-center justify-center p-6 text-white bg-[url('/public/images/services.jpeg')] bg-no-repeat bg-center bg-cover relative">
        <div class="absolute inset-0 bg-black/50 z-0"></div>
        <div class="text-center max-w-5xl w-full z-10">
            <h1 class="text-4xl sm:text-5xl md:text-7xl">{ title }</h1>
            <p class="mt-8 sm:mt-10 text-base sm:text-lg md:text-xl lg:text-2xl leading-relaxed">
                { sentence }
            </p>
            <a 
                href="/services"
                class="inline-block mt-6 sm:mt-8 border-2 border-white rounded-md px-6 sm:px-7 py-2 sm:py-3 text-base sm:text-lg hover:bg-white hover:text-black transition-colors cursor-pointer">
                Servicios
            </a>
        </div>
    </section>