---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/global.css'
---
<MainLayout>
    <section class="pt-40 grid min-h-full place-items-center bg-[url('/images/home.jpeg')] opacity-80 px-6 py-24 sm:py-32 lg:px-8 text-white bg-no-repeat bg-center bg-cover relative">
        <div class="text-center">
          <h1 class="text-9xl pt-20 font-semibold">404</h1>
          <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance sm:text-7xl">Página no encotrada</h1>
          <p class="mt-6 text-lg font-medium text-pretty text-gray-200 sm:text-xl/8">Lo sentimos, no hemos podido encontrar la página que busca.</p>
          <div class="mt-10 flex items-center justify-center">
            <a 
                href="/"
                class="inline-block mt-6 sm:mt-8 border-2 border-white rounded-md px-6 sm:px-7 py-2 sm:py-3 text-base sm:text-lg hover:bg-white hover:text-black transition-colors cursor-pointer">
                Regresar al inicio
            </a>
          </div>
        </div>
    </section>
</MainLayout>
