---
const title = "Quiénes Somos"
const sentence = "Somos un equipo de expertos en congresos y eventos corporativos y gubernamentales dedicados a crear experiencias únicas y memorables. Trabajamos de cerca con nuestros clientes, desde organizadores de congresos y convenciones, hasta meeting planners MICE y empresarios que participan en exposiciones comerciales para asegurar que sus eventos sean verdaderamente excepcionales. Nuestro compromiso es superar sus expectativas y brindar un servicio extraordinario en todo momento."
---

<section class="min-h-screen flex items-center justify-center px-4 md:px-6 text-white bg-[url('/public/images/about.jpeg')] bg-no-repeat bg-center bg-cover relative">
    <div class="absolute inset-0 bg-black/50 z-0"></div>
    <div class="text-center max-w-5xl w-full z-10">
        <h1 class="text-4xl sm:text-5xl md:text-7xl">{ title }</h1>
        <p class="mt-8 sm:mt-10 text-base sm:text-lg md:text-xl lg:text-2xl leading-relaxed">
            { sentence }
        </p>
    </div>
</section>