---

---

<section class="pt-32 h-full min-h-screen flex items-center justify-center px-4 md:px-6 text-white bg-[url('/images/home.jpeg')] bg-no-repeat bg-center bg-cover relative">
    <div class="absolute inset-0 bg-black/50 z-0"></div>
    <div class="text-center max-w-5xl w-full z-10">
        <h1 class="text-4xl sm:text-5xl md:text-7xl">Diseño, producción y tecnología</h1>
        <h1 class="text-4xl sm:text-5xl md:text-7xl">para</h1>
        <h1 class="text-4xl sm:text-5xl md:text-7xl">eventos que cautivan.</h1>
        <p class="mt-8 sm:mt-10 text-base sm:text-lg md:text-xl lg:text-2xl leading-relaxed">
            En Cautiva Producciones creemos que los eventos son una oportunidad única para crear conexiones emocionales duraderas. 
            Con nuestro enfoque todo en uno» de diseño, producción y tecnología, podemos crear un evento que cautivará y emocionará a tus asistentes. 
            ¿Estás listo para sorprenderlos?
        </p>
        <button class="mt-6 sm:mt-8 border-2 border-white rounded-md px-6 sm:px-7 py-2 sm:py-3 text-base sm:text-lg hover:bg-white hover:text-black transition-colors cursor-pointer">
            Contáctanos
        </button>
    </div>
</section>
