---
const sentence = "Cautiva Producciones fue la mejor elección para nuestro evento.El servicio fue excelente y el equipo se esforzó al máximo para asegurarse de que todas nuestras necesidades fueran satisfechas. ¡Muy recomendable!"
const author = "– Dr. Alejandro Ramirez."
---

<div class="min-h-[20rem] bg-neutral-900 py-8 px-12 sm:px-6 md:py-18 md:px-[54px] text-white flex flex-col justify-center items-start">
    <div class="max-w-5xl">
      <p class="text-lg sm:text-xl md:text-3xl text-justify">
        { sentence }
      </p>
  
      <p class="mt-6 text-base sm:text-2xl font-light text-white">
        { author }
      </p>
    </div>
  </div>
  