---
import Navbar from "../components/shared/Navbar.astro";
import Footer from "../components/shared/Footer.astro";
import ButtonScrollTop from "../components/ButtonScrollTop.astro";
import "../styles/global.css";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/cautivaFavicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cautiva producciones</title>
	</head>
	<body>
		<Navbar/>
		<main>
			<slot/>
		</main>
		<Footer/>
		<ButtonScrollTop/>
	</body>
</html>